body
{
	background-color: mediumvioletred;
	margin: 0;
	padding: 0;

}

h1{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 50pt;
	font-weight: bold;
	text-align: center;
	padding: 50px;
}

h2{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 30pt;
	text-align: center;
}

#button1 {
  font-family: Tahoma, Verdana, sans-serif;
  background-color: lightpink;
  color: black;
  border: 5px solid palevioletred; 
  font-size: 40px;
  padding: 50px;
  display: block;
  width: 30%;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 30%;
  margin-right: 30%;
  text-align:center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50%;
}


#button1:hover {
  background-color: pink;
  color: white;  
}
